@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu Mono;
  font-weight: 700;
}

#page-body {
  /* max-width: 800px; */
  margin: auto;
}